#posts_list {
	padding-left: 0;
	list-style: none;
}

	#posts_list li {
		padding-bottom: 15px;
	}

		#posts_list li:last-child {
			padding-bottom: 0;
		}

		#posts_list .description {
			font-size: 0.875rem;
			color: var(--bs-gray-600);
		}
